html, body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}




.contained{
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(10, 30, 140);
}

.typeStyles{
  color: skyblue;

}

.title{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 50px;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  color: white;
  text-align: center;
  width: 650px;

}

#react1{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 40px;
  font-weight: lighter;
  padding-top: 100px;
  margin: 0px;
}

#react2{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 40px;
  font-weight: lighter;
  padding-top: 30px;
  margin: 0px;

}

#react3{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 40px;
  font-weight: lighter;
  padding-top: 30px;
  margin: 0px;

}

#react4{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 40px;
  font-weight: lighter;
  padding-top: 30px;
  margin: 0px;

}

#react5{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 40px;
  font-weight: lighter;
  padding-top: 30px;
  margin: 0px;

}

#react6{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 40px;
  font-weight: lighter;
  padding-top: 30px;
  margin: 0px;

}
